<div class="col-md-12">
<%= simple_form_for(@invoice) do |f| %>
  <div id="invoice-wrap">
    <%= f.error_notification %>
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-header">Netraalayam<small class="pull-right">Date:- <%= @curdate %> <!-- <span class="invoice_header_date"></span> --></small></h3>
      </div><!-- /.col -->
    </div>

    <div class="row invoice-info">
      <div class="col-md-6 invoice-col">
        Customer Info
        <address>
          
          <select class="form-control custinvoice" id="select_cust_id">
          <option value="0">Select Customer</option>
          <%= @custs.each do | cust | %>
            <%if cust.id == @invoice.customer_id%>
             <option value="<%= cust.id %>" selected><%= cust.name %></option>
            <%else%>
            <option value="<%= cust.id %>"><%= cust.name %></option>
            <%end%> 
          <% end %>
          </select>
           <input type="hidden" id="customer_id" name="customer_id" value="<%=@invoice.customer_id%>">
          <input type="hidden" id="order_id" name="order_id" value="<%=@invoice.id%>">
          <input class="form-control cid" id= "2"  placeholder="Customer ID" readonly="true" />
          <input class="form-control cname" id= "3"  placeholder="Customer Name"  readonly="true" />
          <input class="form-control cmobile" id= "4"  placeholder="Customer Mobile" readonly="true" />
        </address>
      </div><!-- /.col -->
      <div class="col-md-6 invoice-col">
        Customer Info
        <address>
          <%#= f.input_field :contragent, class: "form-control", id: "5" %>
          <input class="form-control cemail" id= "5"  placeholder="Customer E-mail" readonly="true" />
          <input class="form-control cgen" id= "6"  placeholder="Customer Gender" readonly="true" />
          <input class="form-control cprofess" id= "7"  placeholder="Customer profession" readonly="true" />
          <input class="form-control cadd" id= "8"  placeholder="Customer Address" readonly="true" />
        </address>
      </div><!-- /.col -->
      <div class="col-md-4 invoice-col" style="margin-left: 50%">
        <form class="form-horizontal">

          <div class="form-group">
            <div class="col-md-8"><label>Bill No:- # <span id="invoice_number"><%=@invoice.id %></span></label></div>
            <!-- <div class="col-md-8 invoice_num"></div> -->
          </div>
          <!-- <div class="col-md-12"></div> -->
          <div class="form-group">
            <div class="col-md-12"><label>Delivery Date</label></div>
            <div class="col-md-12"><%= f.input_field :delivery_date, placeholder: "Delivery Date", class: "form-control datepicker", as: :string, id: "invoice_date" %></div>
          </div>

          <div class="col-md-12"></div>
          <div class="form-group">
            <div class="col-md-8 invoice_space"><label>Amount due </label>
              <%= f.input_field :balance_amount, class: "form-control due advamt", as: :string, id: "balance_amt", readonly: true%>
            </div>
            <!-- <div class="col-md-8 invoice_space bold" style="text-align:right; padding-top:7px"></div> -->
          </div>
        </form>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-md-12 table-responsive">
        <hr>
        <table class="table table-hover" id="items">
      
          <thead>
              <th class="item-name">Item</th>
              <th class="description">Description</th>
              <th class="unit">Unit Cost</th>
              <th class="quantity">Quantity</th>
              <th class="units">Price</th>
              <th class="no_print">Actions</th>
          </thead>
      
          <tbody>
            <!-- <tr class="item-row">
              <td><input class="form-control item_name" id="item_id1" value="" /></td>
              <td><input class="form-control item_desc" id="product_des1" value=""  readonly /></td>
              <td><input class="form-control cost" id="item1_cost" value="" readonly/></td>
              <td><input class="form-control qty" id="item1_qty" value="" /></td>
              <td class="price_td"><span class="price" id="item_price1"></span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="btn btn-danger">x</span></a></td>
            </tr> -->
          
            <!-- <tr class="item-row">
              <td><input class="form-control item_name" id="item_id2" value="" /></td>
              <td><input class="form-control item_desc" id="product_des2" value=""  readonly/></td>
              <td><input class="form-control cost" id="item2_cost" value="" readonly/></td>
              <td><input class="form-control qty" id="item2_qty" value="" /></td>
              <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="btn btn-danger">x</span></a></td>
            </tr>
            <tr class="item-row">
              <td><input class="form-control item_name" id="item_id3" value="" /></td>
              <td><input class="form-control item_desc" id="product_des3" value="" readonly/></td>
              <td><input class="form-control cost" id="item3_cost" value="" readonly/></td>
              <td><input class="form-control qty" id="item3_qty" value="" /></td>
              <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="btn btn-danger">x</span></a></td>
            </tr>
            <tr class="item-row">
              <td><input class="form-control item_name" id="item_id4" value="" /></td>
              <td><input class="form-control item_desc" id="product_des4" value="" readonly/></td>
              <td><input class="form-control cost" id="item4_cost" value=""  readonly/></td>
              <td><input class="form-control qty" id="item4_qty" value="" /></td>
              <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="btn btn-danger">x</span></a></td>
            </tr> -->
          
           <!--  <tr id="hiderow">
              <td colspan="6"><a id="addrow" class="btn btn-success btn-sm" href="javascript:;" title="Add a row"><span class="ti-plus"></span>  Add a row</a></td>
            </tr> -->
          </tbody>
          <tfoot>
        <tr>
            <td colspan="5" style="text-align: left;">
                <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="margin-left: 50%">
        <div class="table-responsive">
          <table class="table table-hover" id="totals">
            <tr>
              <th style="width:50%">Subtotal:</th>
              <td><span id="subtotal"><%=@invoice.subtotal%></span><span class="subtotal_currency"></span></td>
            </tr>
            <tr>
              <th>Tax:</th>
              <td><input id="9" class="form-control input_tax" value="<%=@invoice.tax_amt%>" /></td>
            </tr>
            <tr>
              <th>Discount:</th>
              <td><input id="99" class="form-control input_discount" value="<%=@invoice.discount_amt%>" /></td>
            </tr>
            <tr>
              <th>Total:</th>
              <td class="balance"><span class="totalamount" id="invoice_total"><%=@invoice.total_amt%></span><span class="subtotal_currency"></span></td>
            </tr>
            <tr>
              <th>Advance:</th>
              <td><input id="89" class="form-control input_advance" value="<%=@invoice.advance_amt%>" /></td>
            </tr>
            <tr>
              <th>Payment Type</th>
              <td class="balance">
                <%selected = ''%>
                 <%if @invoice.payment_mode == 'cash'%>
                    <%selected1 = 'checked'%>
                    <%selected2 = ''%>
                 <%else%>
                    <%selected2 = 'checked'%>
                    <%selected1 = ''%>
                 <%end%>
              <label class="btn btn-default">
                    <input type="radio" id="q156" name="quality[25]" value="cash" <%=selected1%>/> Cash
                </label> 
                <label class="btn btn-default">
                    <input type="radio" id="q157" name="quality[25]" value="card" <%=selected2%>/> Card
                </label> 
              </td>
              <%#=f.hidden_field :amount, id: "invoice_total1" %>
            </tr>
          </table>
        </div>
      </div><!-- /.col -->    
    </div>

    <div class="row">
      <div class="col-xs-12 pull-left">
<!--         <a class="btn btn-info btn-sm" id="invoice_button" data-toggle="modal" data-target="#invoice_modal">Show Invoice</a> -->
        <input type="button" name="" value="Generate" id="submit_invoice" class="btn btn-warning btn-sm">
        <%#= f.button :submit, 'Submit Payment', class: 'btn btn-warning btn-sm', id: "submit_invoice" %>    
      </div>
    </div>

    <div id="terms">
      <h5>Terms</h5>
      <textarea id="10">Netraalayam Payment terms: net 30. Interest accrued at 1.5% per month thereafter.</textarea>
    </div>
  </div>
  <% end %>
</div>

<div class="modal fade" id="invoice_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width:920px">
      <div class="container-fluid invoice_wrapper" style="margin:10px" id="print-me">
        <%= render 'invoice' %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="printDiv('print-me')">Print</button>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .custinvoice{
    margin-bottom: 5px !important;
    width: 70% !important;
  }
</style>
<script type="text/javascript">
    $( document ).ready(function() {
      $('#select_cust_id').on('change', function() {
         var cust_id = this.value ;
         // alert(cust_id);
            $.ajax({
            url: "get_cust_data",
            method: "GET",  
            data: {custid: cust_id },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
              // alert(JSON.stringify(data.frame.id));
              // console.log(response);
            }
          });
     });

     var customer_id = $("#customer_id").val();
        $.ajax({
            url: "/invoices/get_cust_data",
            method: "GET",  
            data: {custid: customer_id },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
              var orderid = $("#order_id").val();
              get_orderitems(orderid)
            }
          });

    function get_orderitems(orderid){
       $.ajax({
            url: "/invoices/get_orderitemdata",
            method: "GET",  
            data: {orderid: orderid },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
              for (i = 0; i < data.orderitems.length; i++){
                var newRow = $("<tr class='item-rows'>");
                var cols = "";
                cols += '<td><input type="text" class="form-control itemids" rel="'+data.orderitems[i].count+'" id="item_id'+ data.orderitems.count + '" value="'+data.orderitems[i].itemid+'"/></td>';
                cols += '<td><input type="text" class="form-control" readonly  id="product_des'+ data.orderitems[i].count + '" value="'+data.orderitems[i].productname+'"></td>';
                cols += '<td><input type="text" class="form-control itemcost" readonly id="item_cost'+ data.orderitems[i].count + '" value="'+data.orderitems[i].unitprice+'"/></td>';
                cols += '<td><input class="form-control qty qualitys" qel="'+data.orderitems[i].count+'"  id="item_qty'+ data.orderitems[i].count + '" value="'+data.orderitems[i].quantity+'"/></td>';
                cols += '<td><input class="form-control itemprices" readonly id="item_price'+ data.orderitems[i].count + '" value="'+data.orderitems[i].cosrprice+'"/></td>'
                cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
                newRow.append(cols);
                $("table#items").append(newRow);
              }
              console.log(data.orderitems)
            }
          });
    }    


    $("#submit_invoice").click(function(){

   var list = []
   var rows = $('.item-rows');
   for (i = 0; i < rows.length; i++){
    listhash = {}
    var row = rows[i];
    var name = $(row).find(".itemids").val();
    var cost = $(row).find(".itemcost").val();
    var qtys = $(row).find(".qualitys").val();
    listhash['itemid'] = name
    listhash['qty'] = qtys
    listhash['cost'] = cost
    list.push(listhash)
   }

      var subtotal = $('#subtotal').text();
      var input_tax = $('.input_tax').val();
      var input_discount = $('.input_discount').val();
      var invoice_total = $('#invoice_total').text();
      var input_advance = $('.input_advance').val();
      var custid = $('.cid').val();
      var balance = $(".advamt").val();
      var orderid = $("#order_id").val();
      var invoice_date = $("#invoice_date").val();
      var paymentmode = $("input[name='quality[25]']:checked").val();
        $.ajax({
            url: "/invoices/generate_cust_invoice",
            method: "POST",  
            data: {
                     custid: custid,
                     item_arr: list,
                     subtotal: subtotal,
                     input_tax: input_tax,
                     input_discount: input_discount,
                     invoice_total: invoice_total,
                     input_advance: input_advance,
                     balance: balance,
                     orderid: orderid,
                     invoice_date: invoice_date,
                     paymentmode: paymentmode
                  },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
               window.location.replace("/invoices")
            }
          });

      });

    var counter = 1;


    $("#addrow").on("click", function () {
        var newRow = $("<tr class='item-rows'>");
        var cols = "";
        var rows = $('.item-rows');
        counter += rows.length;
        cols += '<td><input type="text" class="form-control itemids" rel="'+counter+'" id="item_id'+ counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" readonly  id="product_des'+ counter + '"/></td>';
        cols += '<td><input type="text" class="form-control itemcost" readonly id="item_cost'+ counter + '"/></td>';
        cols += '<td><input class="form-control qty qualitys" qel="'+counter+'"  id="item_qty'+ counter + '"/></td>';
        cols += '<td><input class="form-control itemprices" readonly id="item_price'+ counter + '"/></td>'
        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table#items").append(newRow);
        counter++;
    });
    $("table#items").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
        addtotal_details()
    });

    $("table#items").on("input", ".itemids", function (event) {
          var item = this.value ;
          var id = $(this).attr('rel')
            $.ajax({
            url: "/invoices/get_item_product",
            method: "GET",  
            data: {id: item, item: '1' },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
              console.log(data.product_desc)
              $("#product_des"+id).val(data.product_desc)
              $("#item_cost"+id).val(data.unit_price)
            }
          });
     });

    $("table#items").on("input", ".qty", function (event) {
         var id =  $(this).attr('qel')
         var qty = $("#item_qty"+id).val()
         var unitpric = $("#item_cost"+id).val()
         var total  = parseInt(unitpric) * parseInt(qty)
         $("#item_price"+id).val(total)
         addtotal_details();
         
        
    });

    function addtotal_details(){
      var list = []
         var rows = $('.item-rows');
         for (i = 0; i < rows.length; i++){
          var row = rows[i];
          var itemprices = $(row).find(".itemprices").val();
          list.push(itemprices)
         }
          sum = 0;
          list.forEach(function(num){sum+=parseFloat(num) || 0;});
          $("#subtotal").text(sum)
          var tax = $("#9").val();
          var total = Number($('#subtotal').html()) + Number($('#9').val());
          total = total.toFixed(2);
          $(".totalamount").text(total)

          var total = Number($('.totalamount').html()) - Number($('#99').val());
          total = total.toFixed(2);

          $(".totalamount").text(total)
          if(Number($('.totalamount').val()) > Number($('#89').val())){
            var total = Number($('.totalamount').html()) - Number($('#89').val());
            total = total.toFixed(2);
            $('.advamt').val(total);
          }
          else{
            $('#89').val('')
            $('.advamt').val('');
          }
          
    }
    





});
  </script>