<div class="col-md-12">
<%= simple_form_for(@invoice) do |f| %>
  <div id="invoice-wrap">
    <%= f.error_notification %>
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-header">Netraalayam<small class="pull-right">Date:- <%= @curdate %> <!-- <span class="invoice_header_date"></span> --></small></h3>
      </div><!-- /.col -->
    </div>

    <div class="row invoice-info">
      <div class="col-md-6 invoice-col">
        Customer Info
        <address>
          
          <select class="form-control custinvoice" id="select_cust_id">
          <option value="0">Select Customer</option>
          <%= @custs.each do | cust | %>
             <option value="<%= cust.id %>"><%= cust.name %></option>
          <% end %>
          </select>
          <input class="form-control cid" id= "2"  placeholder="Customer ID" readonly="true" />
          <input class="form-control cname" id= "3"  placeholder="Customer Name"  readonly="true" />
          <input class="form-control cmobile" id= "4"  placeholder="Customer Mobile" readonly="true" />
        </address>
      </div><!-- /.col -->
      <div class="col-md-6 invoice-col">
        Customer Info
        <address>
          <%#= f.input_field :contragent, class: "form-control", id: "5" %>
          <input class="form-control cemail" id= "5"  placeholder="Customer E-mail" readonly="true" />
          <input class="form-control cgen" id= "6"  placeholder="Customer Gender" readonly="true" />
          <input class="form-control cprofess" id= "7"  placeholder="Customer profession" readonly="true" />
          <input class="form-control cadd" id= "8"  placeholder="Customer Address" readonly="true" />
        </address>
      </div><!-- /.col -->
      <div class="col-md-4 invoice-col" style="margin-left: 50%">
        <form class="form-horizontal">

          <div class="form-group">
            <div class="col-md-8"><label>Bill No:- # <span id="invoice_number"><%= (Order.last.present? ? (Order.last.id + 1) : 1) %></span></label></div>
            <!-- <div class="col-md-8 invoice_num"></div> -->
          </div>
          <!-- <div class="col-md-12"></div> -->
          <div class="form-group">
            <div class="col-md-12"><label>Delivery Date</label></div>
            <div class="col-md-12"><%= f.input_field :date, placeholder: "Delivery Date", class: "form-control datepicker", as: :string, id: "invoice_date" %></div>
          </div>

          <div class="col-md-12"></div>
          <!-- <div class="form-group">
            <div class="col-md-12"><%= f.label :currency, required: false %></div>
            <div class="col-md-12"><%= f.input_field :currency, id:"invoice_currency", class: "form-control" %></div>
          </div> -->


          <div class="col-md-12"></div>
          <div class="form-group">
            <div class="col-md-8 invoice_space"><label>Amount due </label><span class="due advamt" style="margin-left: 20px;"></span><span class="subtotal_currency"></span></div>
            <!-- <div class="col-md-8 invoice_space bold" style="text-align:right; padding-top:7px"></div> -->
          </div>
        </form>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-md-12 table-responsive">
        <hr>
        <table class="table table-hover" id="items">
      
          <thead>
              <th class="item-name">Item</th>
              <th class="description">Description</th>
              <th class="unit">Unit Cost</th>
              <th class="quantity">Quantity</th>
              <th class="units">Price</th>
              <th class="no_print">Actions</th>
          </thead>
      
          <tbody>
            <tr class="item-row">
              <td><input class="form-control item_name" id="item_id1" value="" /></td>
              <td><input class="form-control item_desc" value="Description" /></td>
              <td><input class="form-control cost" id="item1_cost" value="" /></td>
              <td><input class="form-control qty" id="item1_qty" value="" /></td>
              <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="btn btn-danger">x</span></a></td>
            </tr>
          
            <tr class="item-row">
              <td><input class="form-control item_name" id="item_id2" value="" /></td>
              <td><input class="form-control item_desc" value="Description #2" /></td>
              <td><input class="form-control cost" id="item2_cost" value="" /></td>
              <td><input class="form-control qty" id="item2_qty" value="" /></td>
              <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="btn btn-danger">x</span></a></td>
            </tr>
            <tr class="item-row">
              <td><input class="form-control item_name" id="item_id3" value="" /></td>
              <td><input class="form-control item_desc" value="Description #2" /></td>
              <td><input class="form-control cost" id="item3_cost" value="" /></td>
              <td><input class="form-control qty" id="item3_qty" value="" /></td>
              <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="btn btn-danger">x</span></a></td>
            </tr>
            <tr class="item-row">
              <td><input class="form-control item_name" id="item_id4" value="" /></td>
              <td><input class="form-control item_desc" value="Description #2" /></td>
              <td><input class="form-control cost" id="item4_cost" value="" /></td>
              <td><input class="form-control qty" id="item4_qty" value="" /></td>
              <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="btn btn-danger">x</span></a></td>
            </tr>
          
           <!--  <tr id="hiderow">
              <td colspan="6"><a id="addrow" class="btn btn-success btn-sm" href="javascript:;" title="Add a row"><span class="ti-plus"></span>  Add a row</a></td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="margin-left: 50%">
        <div class="table-responsive">
          <table class="table table-hover" id="totals">
            <tr>
              <th style="width:50%">Subtotal:</th>
              <td><span id="subtotal"></span><span class="subtotal_currency"></span></td>
            </tr>
            <tr>
              <th>Tax:</th>
              <td><input id="9" class="form-control input_tax" value="0.00" /></td>
            </tr>
            <tr>
              <th>Discount:</th>
              <td><input id="99" class="form-control input_discount" value="0.00" /></td>
            </tr>
            <tr>
              <th>Total:</th>
              <td class="balance"><span class="due" id="invoice_total"></span><span class="subtotal_currency"></span></td>
              <%=f.hidden_field :amount, id: "invoice_total1" %>
            </tr>
            <tr>
              <th>Advance:</th>
              <td><input id="89" class="form-control input_advance" value="0.00" /></td>
            </tr>
            <tr>
              <th>Payment Type</th>
              <td class="balance">
              <label class="btn btn-default">
                    <input type="radio" id="q156" name="quality[25]" value="1" /> Cash
                </label> 
                <label class="btn btn-default">
                    <input type="radio" id="q157" name="quality[25]" value="2" /> Card
                </label> 
              </td>
              <%#=f.hidden_field :amount, id: "invoice_total1" %>
            </tr>
          </table>
        </div>
      </div><!-- /.col -->    
    </div>

    <div class="row">
      <div class="col-xs-12 pull-left">
        <a class="btn btn-info btn-sm" id="invoice_button" data-toggle="modal" data-target="#invoice_modal">Show Invoice</a>
        <input type="button" name="" value="Generate" id="submit_invoice" class="btn btn-warning btn-sm">
        <%#= f.button :submit, 'Submit Payment', class: 'btn btn-warning btn-sm', id: "submit_invoice" %>    
      </div>
    </div>

    <div id="terms">
      <h5>Terms</h5>
      <textarea id="10">Netraalayam Payment terms: net 30. Interest accrued at 1.5% per month thereafter.</textarea>
    </div>
  </div>
  <% end %>
</div>

<div class="modal fade" id="invoice_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width:920px">
      <div class="container-fluid invoice_wrapper" style="margin:10px" id="print-me">
        <%= render 'invoice' %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="printDiv('print-me')">Print</button>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .custinvoice{
    margin-bottom: 5px !important;
    width: 70% !important;
  }
</style>
<script type="text/javascript">
    $( document ).ready(function() {
      $('#select_cust_id').on('change', function() {
         var cust_id = this.value ;
         // alert(cust_id);
            $.ajax({
            url: "get_cust_data",
            method: "GET",  
            data: {custid: cust_id },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
              // alert(JSON.stringify(data.frame.id));
              // console.log(response);
            }
          });
     });
    $("#submit_invoice").click(function(){
      var item1 = $('#item_id1').val();
      var item2 = $('#item_id2').val();
      var item3 = $('#item_id3').val();
      var item4 = $('#item_id4').val();

      var item1_cost = $('#item1_cost').val();
      var item2_cost = $('#item2_cost').val();
      var item3_cost = $('#item3_cost').val();
      var item4_cost = $('#item4_cost').val();

      var item1_qty = $('#item1_qty').val();
      var item2_qty = $('#item2_qty').val();
      var item3_qty = $('#item3_qty').val();
      var item4_qty = $('#item4_qty').val();

      var subtotal = $('#subtotal').text();
      var input_tax = $('.input_tax').val();
      var input_discount = $('.input_discount').val();
      var invoice_total = $('#invoice_total').text();
      var input_advance = $('.input_advance').val();
      var custid = $('.cid').val();

        $.ajax({
            url: "generate_cust_invoice",
            method: "POST",  
            data: {
                     custid: custid,
                     item_id1: item1,
                     item_id2: item2,
                     item_id3: item3,
                     item_id4: item4,
                     item1_cost: item1_cost,
                     item2_cost: item2_cost,
                     item3_cost: item3_cost,
                     item4_cost: item4_cost,
                     item1_qty: item1_qty,
                     item2_qty: item2_qty,
                     item3_qty: item3_qty,
                     item4_qty: item4_qty,
                     subtotal: subtotal,
                     input_tax: input_tax,
                     input_discount: input_discount,
                     invoice_total: invoice_total,
                     input_advance: input_advance,
                  },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
              alert(data.status);
              // console.log(response);
            }
          });

      });
});
  </script>