<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
            </li>
          </ol>
        </section>
        <section class="content">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                
                <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                 <table class="table table-bordered table-hover">

                  <tr>
                    <th>Customer</th>
                    <th>Store</th>
                    <th>SubTotal</th>
                    <th>Tax Amount</th>
                    <th>Discount Amount</th>
                    <th>Total Amount</th>
                    <th>Advance Amount</th>
                    <th>Balance Amount</th> 
                    <th>Payment Mode</th>
                    <th>
                      <i class="ion ion-edit"></i>
                    </th>
                    <th>Invoice</th>
                  </tr>
                  <% @orders.each do |order| %>
                  <tr>
                    <%customer = Customer.where(:id=>order.customer_id).last%>
                     <td><%= customer.name%></td>
                    <td><%= order.store.name %></td>
                    <td><%= order.subtotal %></td>
                    <td><%=order.tax_amt %></td>
                    <td><%= order.discount_amt%></td>
                    <td><%= order.total_amt %></td>
                    <td><%= order.advance_amt %></td>
                    <td><%= order.balance_amount %></td>
                    <td><%= order.payment_mode %></td>

                    <td><%= link_to "", edit_invoice_path(order), { class: "ion ion-edit"} %></td>
                    <td><a class="btn btn-info btn-sm" id="invoice_button" data="<%=order.id%>" onclick="openinvoice_modal(<%=order.id%>)">Show Invoice</a></td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
            <!-- /.box -->
            <div id="myModal" class="modal">
              
                
            <div class="modalpopup" id="invoice_modal123">
              <div class="modal-dialog modal-lg">
                <div class="modal-content" style="width:920px">
                    <div class="col-md-12">
                      <span class="pull-right close" onclick="closemodal()">&times;</span>
                    </div>
                  <div class="container-fluid invoice_wrapper" style="margin:10px" id="print-me">
                    <%= render 'invoice' %>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" onclick="printDiv('print-me')">Print</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <br>
        </section>
      </div>
    </div>
  </body>

