<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
            </li>
          </ol>
        </section>
        <section class="content">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                
                <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                 <table class="table table-bordered table-hover">

                  <tr>
                    <th>Customer</th>
                    <th>Store</th>
                    <th>SubTotal</th>
                    <th>Tax Amount</th>
                    <th>Discount Amount</th>
                    <th>Total Amount</th>
                    <th>Advance Amount</th>
                    <th>Balance Amount</th> 
                    <th>Payment Mode</th>
                    <th>
                      <i class="ion ion-edit"></i>
                    </th>
                    <th>Invoice</th>
                  </tr>
                  <% @orders.each do |order| %>
                  <tr>
                    <%customer = Customer.where(:id=>order.customer_id).last%>
                     <td><%= customer.name%></td>
                    <td><%= order.store.name %></td>
                    <td><%= order.subtotal %></td>
                    <td><%=order.tax_amt %></td>
                    <td><%= order.discount_amt%></td>
                    <td><%= order.total_amt %></td>
                    <td><%= order.advance_amt %></td>
                    <td><%= order.balance_amount %></td>
                    <td><%= order.payment_mode %></td>

                    <td><%= link_to "", edit_invoice_path(order), { class: "ion ion-edit"} %></td>
                    <td><a class="btn btn-info btn-sm" id="invoice_button" data="<%=order.id%>" data-toggle="modal" data-target="#invoice_modal">Show Invoice</a></td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
            <!-- /.box -->
            <div class="modal fade" id="invoice_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                <div class="modal-content" style="width:920px">
                  <div class="container-fluid invoice_wrapper" style="margin:10px" id="print-me">
                    <%= render 'invoice' %>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" onclick="printDiv('print-me')">Print</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </section>
      </div>
    </div>
  </body>

<script type="text/javascript">
    $( document ).ready(function() {
      $("#invoice_button").click(function(){
      var orderid = $("#invoice_button").attr('data')
       $.ajax({
            url: "/invoices/get_orderitemdata",
            method: "GET",  
            data: {orderid: orderid },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
              var headerdata = (new Date()).toString().split(' ').splice(1,3).join(' ');
              $(".invoice_header_date").text(headerdata)
              $("#customer_name").text(data.customer.name)
              $("#customer_id").text(data.customer.id)
              $("#customer_phone").text(data.customer.mobile)
              $("#customer_gmail").text(data.customer.email)
              $("#customer_gender").text(data.customer.gender)
              $("#customer_age").text(data.customer.age)
              $("#customer_address").text(data.customer.address)
              $("#customer_pro").text(data.customer.profession)
              $("#modal_invoice_number").text(data.order.id)
              var date = (new Date(data.order.delivery_date)).toString().split(' ').splice(1,3).join(' ');
              $("#delivery_date").text(date)
              $("table#modal_items").empty();
              var newRow = $("<thead>");
              var cols = ""
              cols += '<th class="item-name">Item</th><th class="description">Description</th><th class="unit">Unit Cost</th><th class="quantity">Quantity</th><th class="units">Price</th>'
               newRow.append(cols);
                $("table#modal_items").append(newRow);
              for (i = 0; i < data.orderitems.length; i++){
                var newRow = $("<tr class='item-rows'>");
                var cols = "";
                cols += '<td><span class="itemids" rel="'+data.orderitems[i].count+'" id="item_id'+ data.orderitems.count + '">'+data.orderitems[i].itemid+'</span></td>';
                cols += '<td><span readonly  id="product_des'+ data.orderitems[i].count + '">'+data.orderitems[i].productname+'</span></td>';
                cols += '<td><span class="itemcost" readonly id="item_cost'+ data.orderitems[i].count + '">'+data.orderitems[i].unitprice+'</span></td>';
                cols += '<td><span class="qty qualitys" qel="'+data.orderitems[i].count+'"  id="item_qty'+ data.orderitems[i].count + '">'+data.orderitems[i].quantity+'</spsn></td>';
                cols += '<td><span class="itemprices" readonly id="item_price'+ data.orderitems[i].count + '">'+data.orderitems[i].cosrprice+'</span></td>'
                newRow.append(cols);
                $("table#modal_items").append(newRow);
              }
              $("#modal_subtotal").text(data.order.subtotal)
              $("#modal_9").text(data.order.tax_amt)
              $("#modal_99").text(data.order.discount_amt)
              $("#totals_amount").text(data.order.total_amt)
              $("#modal_89").text(data.order.advance_amt)
              $("#modal_balance").text(data.order.balance_amount)
            }
          });
  });
});
    </script>