<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @sunglasse.product.name %>
</p>

<p>
  <strong>Brand name:</strong>
  <%= @sunglasse.brand_name %>
</p>

<p>
  <strong>Frame type:</strong>
  <%= @sunglasse.frame_type %>
</p>

<p>
  <strong>Frame shape:</strong>
  <%= @sunglasse.frame_shape %>
</p>

<p>
  <strong>Model no:</strong>
  <%= @sunglasse.model_no %>
</p>

<p>
  <strong>Frame size:</strong>
  <%= @sunglasse.frame_size %>
</p>

<p>
  <strong>Bridge size:</strong>
  <%= @sunglasse.bridge_size %>
</p>

<p>
  <strong>Temple size:</strong>
  <%= @sunglasse.temple_size %>
</p>

<p>
  <strong>Eye size:</strong>
  <%= @sunglasse.eye_size %>
</p>

<p>
  <strong>Frame color:</strong>
  <%= @sunglasse.frame_color %>
</p>

<p>
  <strong>Glass color:</strong>
  <%= @sunglasse.glass_color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @sunglasse.weight %>
</p>

<p>
  <strong>Frame material:</strong>
  <%= @sunglasse.frame_material %>
</p>

<p>
  <strong>Temple material:</strong>
  <%= @sunglasse.temple_material %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @sunglasse.collection %>
</p>

<p>
  <strong>Lens material:</strong>
  <%= @sunglasse.lens_material %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @sunglasse.gender %>
</p>

<p>
  <strong>Height:</strong>
  <%= @sunglasse.height %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @sunglasse.condition %>
</p>

<p>
  <strong>Temple color:</strong>
  <%= @sunglasse.temple_color %>
</p>

<p>
  <strong>No s:</strong>
  <%= @sunglasse.no_s %>
</p>

<p>
  <strong>Mrp:</strong>
  <%= @sunglasse.MRP %>
</p>

<p>
  <strong>Nrp:</strong>
  <%= @sunglasse.NRP %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @sunglasse.discount %>
</p>

<p>
  <strong>Store:</strong>
  <%= @sunglasse.store %>
</p>

<%= link_to 'Edit', edit_sunglasse_path(@sunglasse) %> |
<%= link_to 'Back', sunglasses_path %>
