<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @len.product_name %>
</p>

<p>
  <strong>Brand name:</strong>
  <%= @len.brand_name %>
</p>

<p>
  <strong>Lens type:</strong>
  <%= @len.lens_type %>
</p>

<p>
  <strong>Coatings1:</strong>
  <%= @len.coatings1 %>
</p>

<p>
  <strong>Coatings2:</strong>
  <%= @len.coatings2 %>
</p>

<p>
  <strong>Coatings3:</strong>
  <%= @len.coatings3 %>
</p>

<p>
  <strong>Coatings4:</strong>
  <%= @len.coatings4 %>
</p>

<p>
  <strong>Coatings5:</strong>
  <%= @len.coatings5 %>
</p>

<p>
  <strong>Material:</strong>
  <%= @len.material %>
</p>

<p>
  <strong>Power range:</strong>
  <%= @len.power_range %>
</p>

<p>
  <strong>No s:</strong>
  <%= @len.no_s %>
</p>

<p>
  <strong>Mrp:</strong>
  <%= @len.MRP %>
</p>

<p>
  <strong>Nrp:</strong>
  <%= @len.NRP %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @len.discount %>
</p>

<p>
  <strong>Store:</strong>
  <%= @len.store %>
</p>

<%= link_to 'Edit', edit_len_path(@len) %> |
<%= link_to 'Back', lens_path %>
