<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @frame.product_name %>
</p>

<p>
  <strong>Brand name:</strong>
  <%= @frame.brand_name %>
</p>

<p>
  <strong>Frame type:</strong>
  <%= @frame.frame_type %>
</p>

<p>
  <strong>Frame shape:</strong>
  <%= @frame.frame_shape %>
</p>

<p>
  <strong>Model no:</strong>
  <%= @frame.model_no %>
</p>

<p>
  <strong>Frame size:</strong>
  <%= @frame.frame_size %>
</p>

<p>
  <strong>Bridge size:</strong>
  <%= @frame.bridge_size %>
</p>

<p>
  <strong>Temple size:</strong>
  <%= @frame.temple_size %>
</p>

<p>
  <strong>Eye size:</strong>
  <%= @frame.eye_size %>
</p>

<p>
  <strong>Frame color:</strong>
  <%= @frame.frame_color %>
</p>

<p>
  <strong>Glass color:</strong>
  <%= @frame.glass_color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @frame.weight %>
</p>

<p>
  <strong>Frame material:</strong>
  <%= @frame.frame_material %>
</p>

<p>
  <strong>Temple material:</strong>
  <%= @frame.temple_material %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @frame.collection %>
</p>

<p>
  <strong>Lens material:</strong>
  <%= @frame.lens_material %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @frame.gender %>
</p>

<p>
  <strong>Height:</strong>
  <%= @frame.height %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @frame.condition %>
</p>

<p>
  <strong>Temple color:</strong>
  <%= @frame.temple_color %>
</p>

<p>
  <strong>No s:</strong>
  <%= @frame.no_s %>
</p>

<p>
  <strong>Mrp:</strong>
  <%= @frame.MRP %>
</p>

<p>
  <strong>Nrp:</strong>
  <%= @frame.NRP %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @frame.discount %>
</p>

<p>
  <strong>Store:</strong>
  <%= @frame.store %>
</p>

<%= link_to 'Edit', edit_frame_path(@frame) %> |
<%= link_to 'Back', frames_path %>
