<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          BarCode
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <!-- <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a> -->
            </li>
          </ol>
        </section>
        <section class="content">
          <div class="col-md-6">
            <div class="box">
              
              <!-- /.box-header -->
              <div class="box-body">
                <H1>BarCode Generator</H1>
                    <%= form_for :BarCode, url: "generate_barcode",:remote=>true do |f| %>
                      <div class="box-body">
                        
                        <div class="form-group">
                          <label>Select Product </label>
                          <%= f.select(:pid, options_for_select(@frames.map{ |c| [c.product ? c.product.name : '', c.id] }),{},class: 'form-control', id: 'frame_id') %>
                          
                        </div>
                        <div class="form-group">
                          <label>Product Name</label>
                          <%= f.text_field :pname, autocomplete: "off", placeholder: "Product Name", class: "form-control", required: true  %>
                        </div>
                        <div class="form-group">
                          <label>Rate </label>
                          <%= f.text_field :prate, autocomplete: "off", placeholder: "Enter Rate", class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <label>BarCodes Quantity</label>
                          <%= f.text_field :quantity, autocomplete: "off", placeholder: "Enter Barcode Quantity", class: "form-control" %>
                        </div>
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                        <%= f.submit "Generate", class: "btn btn-primary"%>
                        <div class="pull-right">
                         <button class="btn btn-primary" onclick="printDiv('print-barcode')">Print</button>
                        </div>
                      </div>



                      </div>
                      </div>
                      <% end  %>
              </div>
               <div id="print-barcode">
                <%= render 'barcode_render' %>
                </div>>
            </div>
            <!-- /.box -->
          </div>
          
        </section>
       
      </div>
    </div>
  </body>
  <script type="text/javascript">
    $( document ).ready(function() {
      $('#frame_id').on('change', function() {
         var fr_id = this.value ;
            $.ajax({
            url: "get_frame_data",
            method: "GET",  
            data: {frameid: fr_id },
            error: function (xhr, status, error) {
              console.error('AJAX Error: ' + status + error);
            },
            success: function (data) {
              alert(JSON.stringify(data.frame.id));
              // console.log(response);
            }
          });
     });
});
  </script>