<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          BarCode
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <!-- <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a> -->
            </li>
          </ol>
        </section>
        <section class="content">
          <div class="col-md-6">
            <div class="box">
              
              <!-- /.box-header -->
              <div class="box-body">
                <H1>BarCode Generator</H1>
                    <%= form_for :BarCode, url: "generate_barcode",:remote=>true do |f| %>
                      <div class="box-body">
                        
                        <div class="form-group">
                          <label>Select Product </label>
                          <%= f.select(:pid, options_for_select(@frames.map{ |c| [c.product_name, c.id] }),{},class: 'form-control') %>
                          
                        </div>
                        <div class="form-group">
                          <label>Product Name</label>
                          <%= f.text_field :pname, autocomplete: "off", placeholder: "Product Name", class: "form-control", required: true  %>
                        </div>
                        <div class="form-group">
                          <label>Rate </label>
                          <%= f.text_field :prate, autocomplete: "off", placeholder: "Enter Rate", class: "form-control" %>
                        </div>
                        <div class="form-group">
                          <label>BarCodes Quantity</label>
                          <%= f.text_field :quantity, autocomplete: "off", placeholder: "Enter Barcode Quantity", class: "form-control" %>
                        </div>
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
                        <%= f.submit "Generate", class: "btn btn-primary"%>
                        <div class="pull-right">
                          <%#= link_to 'Delete account', current_user, method: :delete, data: { confirm: 'Are you sure? This action can not be reversed.' }, class: "btn btn-danger" %>
                        </div>
                      </div>



                      </div>
                      </div>
                      <% end  %>
              </div>
                <%= render 'barcode_render' %>
            </div>
            <!-- /.box -->
          </div>
          
        </section>
      </div>
    </div>
  </body>