<header class="main-header">
  <!-- Logo -->
  <a href="<%= root_url %>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>N</b>yam</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>Netraalayam</b>
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
       <div class="dropdown" style="">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= current_user.name %>
  <span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html">
                      <%= link_to destroy_user_session_path, method: :delete  do %>
                    <i class="fa fa-sign-out pull-right"></i> Log Out
                    <% end %></a></li>
                  </ul>
</div>
    <!-- <ul class="nav navbar-nav navbar-right">
                <li >
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <%#= image_tag("img.jpg", class: "img-circle") %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html">
                      <%= link_to destroy_user_session_path, method: :delete  do %>
                    <i class="fa fa-sign-out pull-right"></i> Log Out
                    <% end %></a></li>
                  </ul>
                </li>

                
              </ul> -->
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- <div class="user-panel">
      <div class="pull-left image">
        <%#= image_tag("user2-160x160.jpg", class: "img-circle") %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.email%></p>
        <a href="<%#= edit_user_path(current_user.id) %>">
          <i class="fa fa-edit"></i>
          Edit Profile</a>
        <a href="">
          <%= link_to destroy_user_session_path, method: :delete  do %>
          <i class="fa fa-sign-out"></i>Log Out
        <% end %>
        </a>
      </div>
    </div> -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <!-- <li class="header">MAIN NAVIGATION</li> -->
      <li>
        <a href="<%= root_url %>">
          <i class="fa fa-home"></i>
          <span>DashBoard</span>
        </a>
      </li>
      <li>
        <a href="<%= customer_index_path %>">
          <i class="fa fa-address-card"></i>
          <span>Manage Customer</span>
        </a>
      </li>
      <li>
        <a href="<%= inventory_index_path %>">
          <i class="fa fa-search"></i>
          <span>Manage Inventory</span>
        </a>
      </li>
       <li>
        <a href="<%= invoices_path %>">
          <i class="fa fa-calendar"></i>
          <span>Generate Invoices</span>
        </a>
      </li>
      <li>
        <a href="<%#= products_path %>">
          <i class="fa fa-archive"></i>
          <span>Manage Product</span>
        </a>
      </li>
      <li>
        <a href="<%= employees_path %>">
          <i class="fa fa-users"></i>
          <span>Manage Employee</span>
        </a>
      </li>
      <li>
        <a href="<%= stores_path %>">
          <i class="fa fa-building"></i>
          <span>Manage Store</span>
        </a>
      </li>
      <% if current_user.role.name == "admin" %>
      <li>
        <a href=" <%= member_index_path %>">
          <i class="fa fa-plus"></i>
          <span>Manage Mamber</span>
        </a>
      </li>

      <li>
        <a href="<%= roles_path %>">
          <i class="fa fa-user"></i>
          <span>Manage Role</span>
        </a>
      </li>
      <% end %>
      <li>
      <a href="<%= report_index_path %>">
        <i class="fa fa-bar-chart"></i>
        <span>Manage Report</span>
      </a>
      </li>
       
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
